/*  Breakpoints
*   See the mixin file to see how to use Media Queries.
*/

/* Mobile  0px - 640px */
$mobile:  40em; // 640px

/* Tablet 640px - 1024px */   
$tablet:  64em; // 1024px

/* Desktop 1024px - 1920px */
$desktop: 120em; //1920px   

/* Import this file in Javascipt to use those variables in javscript files  */
:export {
  mobile: ($mobile * 16) / 1em;
  tablet: ($tablet * 16) / 1em;
  desktop: ($desktop * 16) / 1em;
}
