// Color Pallette

$white:     #fff;
$black:     #000;
$darkGray:  #222;
$gray:      #777;

$red:       red;
$purple:    purple;
$blue-dark: darkblue;
$blue:      blue;
$cyan:      cyan;
$green:     green;
$yellow:    yellow;
$orange:    orange;

// Colors
$primary-color: $green;
$secondary-color: $blue-dark;

$succes-color: $green;
$warning-color: $orange;
$danger-color: $red;