.navbar     
  .home-link .site-name
    vertical-align: top;
  .home-link:before
    vertical-align: top;
    content ""
    display inline-block
    height 2.2rem
    width 2.2rem
    margin-right .2rem
    background url('/logo.svg')