// Typography
$font-color: #222;

// Colors
$white:     #fff;
$black:		  #000;
$gray:      #777;

$blue: 		  blue;
$orange: 		orange;
$red:       red;
$green:     green;


:export {
  blue:$blue;
  white: $white;
  black: $black;
  orange: $orange;
  red: $red;
  green:$green;
  gray: $gray;
};